/* SCENE */
.scene {
  perspective: 2000px;
}

/* PAPER */
.paper {
  position: relative;
  background: white;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition: transform 900ms cubic-bezier(0.77, 0, 0.175, 1);
}

/* STATES */
.paper.login {
  transform: rotateY(0deg);
}

.paper.register {
  transform: rotateY(-180deg);
}

/* PAGES */
.page {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
}

.page.back {
  transform: rotateY(180deg);
}

/* SHADOW */
.fold-shadow {
  pointer-events: none;
  position: absolute;
  inset: 0;
  /* background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.15),
    transparent
  ); */
  opacity: 0;
  transition: opacity 900ms ease;
}

.paper.register .fold-shadow {
  opacity: 1;
}

/* IMAGE SLIDE */
.image-panel {
  transition: transform 900ms cubic-bezier(0.77, 0, 0.175, 1);
}

.image-left {
  transform: translateX(0);
}

.image-right {
  transform: translateX(100%);
}

/* MOBILE */
@media (max-width: 768px) {
  .image-panel {
    display: none;
  }
}
